html {
  height: 100%;
}

body {
  @extend %quicksand-500;
  font-size: 16px;
  line-height: 1.6;
  color: $default;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.title {
  @extend %roboto-700;
  text-align: center;
  font-size: 48px;
  line-height: 65px;
  color: $title;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text {
  text-align: center;
  max-width: 570px;
  margin: 0 auto 55px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--top {
    max-width: 1700px;
    padding: 0;
}
}

a {
  @extend %quicksand-500;
  font-size: 16px;
  line-height: 1.6;
  color: $default;
}

.breadcrumbs {
  display: inline-flex;
  justify-content: center;
  padding-left: 25px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background-image: url(../images/breadcrumbs/home.svg);
    width: 16px;
    height: 16px;
    left: 0;
    top: 4px;
  }
  &__list {
    display: flex;
  }

  &__item {
    padding-right: 40px;
    color: #727272;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/breadcrumbs/next.svg);
      width: 9px;
      height: 10px;
      right: 15px;
      top: 9px;
    }
    &:last-child {
      padding-right: 0;
      color: $accent;
      &::after {
        display: none;
      }
    }
  }

  &__link {
    color: inherit;
  }
}