$accent: #fe3e57;
$default: #8d8d8d;
$title: #29282d;
$bg: #f6f6f6;

%btn {
  padding: 12px 26px;
  background-color: $accent;
  color: #FFFFFF;
  text-transform: uppercase;
  @extend  %roboto-400;
  box-shadow: 0 7px 20px 0 rgba(255, 17, 48, 0.3);
}

%quicksand-400 {
  font-family: 'Quicksand-Regular', 'Tahoma', sans-serif;
  font-weight: 400;
}

%quicksand-500 {
  font-family: 'Quicksand-Medium', 'Tahoma', sans-serif;
  font-weight: 500;
}

%roboto-400 {
  font-family: 'Roboto-Regular', 'Tahoma', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto-Medium', 'Tahoma', sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: 'Roboto-Bold', 'Tahoma', sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}